.title-forgot-password {
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
}

.form-box-forgot-password {
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0efef;
    width: 25%;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 5%;
}

.form-box-forgot-password label{
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0 0 2vh 0;
    padding-top: 15%;
}

.form-box-forgot-password input{
    display: block;
    width: 100%;
    border: 1px solid black;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border-radius: 5px;
    font-size: 20px;
}

.send-email-forgot-pwd {
    background-color: #4d57e1;
    margin-top: 3%;
    cursor: pointer;
    font-size: 1rem;
    height: 3.6rem;
    border-radius: 2.3rem;
    width: 40%;
    border: 0.2rem solid transparent;
    color: #fff;
}