.title-user-data {
    text-align: center;
    font-weight: normal;
    font-size: 3rem;
}

.form-box-data {
    height: 40vh;
    width: 35%;
    background-color: #f0efef;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* margin-top: 10%; */
    border-radius: 10px;
    margin: 0 auto;
}

.contenu {
    margin-top: 5%;
}

.form-box-data label {
    display: block;
    text-align: center;
    font-size: 20px;
    margin: 0 0 2vh 0;
}

.form-box-data input {
    display: block;
    width: 100%;
    border: 1px solid black;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0;
    border-radius: 5px;
    font-size: 20px;
}

.save-button-data {
    color: #fff;
    background-color: #4d57e1;
    margin-top: 3%;
    cursor: pointer;
    height: 3.6rem;
    font-size: 1rem;
    border-radius: 2.3rem;
    width: 75%;
    border: 0.2rem solid transparent;
    margin-left: 18%;
    margin-top: 15%;
}